{% for collection in collections %}
  <a href="{{ collection.url }}?sort_by=title-ascending">Collection - {{ collection.title }}</a>
{% endfor %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    }
    ]
  }
{% endschema %}