{% assign sorted_collection = collection.sort_by | default: "title-ascending"  %}
 | sort:'title' %}
{% for sorted_collection in collections %}
  <a href="{{ collection.url }}">Collection - {{ collection.title }}</a>
{% endfor %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    }
    ]
  }
{% endschema %}